[submodule "src/AriaCoda"]
	path = src/AriaCoda
	url = https://github.com/reedhedges/AriaCoda.git
[submodule "src/rosaria"]
	path = src/rosaria
	url = https://github.com/amor-ros-pkg/rosaria.git
[submodule "src/urg_node"]
	path = src/urg_node
	url = https://github.com/ros-drivers/urg_node.git
