<!-- -*- mode: XML -*- -->

<launch>

    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />

  <!-- the batteries -->
  <!-- <node pkg="pioneer_bot_laptop_battery_monitor" type="laptop_battery.py" name="laptop_battery" output="screen" />  -->

 <node name="pioneer_bot_rosaria" pkg="rosaria" type="RosAria" output="screen" >
     <param name="port" type="string" value="/dev/ttyUSB0" /> <!-- prev: /dev/ttyUSB1 old: /dev/Aria -->
     <param name="rot_decel" value="5.23598" />
     <param name="trans_decel" value="1.0" />
     <param name="odom_frame" value="pioneer_bot/odom"/>
     <param name="base_link_frame" value="pioneer_bot/base_link"/>
     <param name="bumpers_frame" value="pioneer_bot/bumpers_frame"/>
     <param name="sonar_frame" value="pioneer_bot/sonar_frame"/>
     <param name="x" value="$(arg x)" />
     <param name="y" value="$(arg y)" />

     <remap from="pioneer_bot_rosaria/pose" to ="pioneer_bot/odom" />  
     <remap from="pioneer_bot_rosaria/cmd_vel" to="pioneer_bot/cmd_vel" />
     <remap from="pioneer_bot_rosaria/bumper_state" to="pioneer_bot/bumper_state" /> 
    
  </node>

<node name="pioneer_bot_hokuyo" pkg="urg_node" type="urg_node" respawn="false" output="screen" >
    <param name="calibrate_time" type="bool" value="true"/>
    <param name="serial_port" type="string" value="/dev/ttyACM0"/> <!-- old: dev/Front -->
    <param name="intensity" type="bool" value="false"/>
    <param name="frame_id" value="pioneer_bot_urg_link"/>
    <param name="max_ang" value="2.08"/>
    <param name="min_ang" value="-2.08"/>
    <remap from="/scan" to="/pioneer_bot/frontscan"/>
</node>

<node name="pioneer_bot_hokuyo_tf" pkg="tf" type="static_transform_publisher" args="0.20 0 0.29 0 0 0 pioneer_bot/base_link pioneer_bot_urg_link 10" />


</launch>
